<div class="center">
	<h1>Contact us</h1>
	<p>Call us on +91xxxxxxx or mail us at user.email@email.com</p>
	
			<% if user_signed_in? %>
         Find the closest parking assistants. 
     	<% else %>
			<%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)%>
    <% end %>  
			
</div>