<div class="center">
	<h1>Hello</h1>
	<p>Welcome to your solution for your parking problems. Sign up today to find out more.</p>
		<% if user_signed_in? %>
         Find the closest parking assistants. 
     <% else %>
			<%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
      <%= link_to "Sign up",new_user_registration_path, class: "btn btn-primary btn-lg" %>
    <% end %>  
</div>