<div class="center">
  
	<h1>Simple Pricing</h1>
	<p>Free 14-day trial. 24/7 customer service. For events, call us on +91xxxxxxxx. </p>
</br>
</div>
<div class="container">
    <div class="pricing-table">
        <div class="pricing-table-header">
            <h1>Trial</h1>
        </div>
        
        <div class="pricing-table-content">
            <ul>
                <li><strong>14</strong> Days</li>
                <li><strong>1</strong> Car</li>
                <li><strong>25</strong> Locations</li>
            </ul>
        </div>
        
        <div class="pricing-table-footer">
            <h2>Free</h2></br>
            <%= link_to "Sign up","#", class: "btn btn-primary btn-lg" %>
        </div>
    </div>
    
    <div class="pricing-table featured">
        <div class="pricing-table-header">
            <h1>Basic</h1>
        </div>
        
        <div class="pricing-table-content">
            <ul>
                <li><strong>30</strong> Days</li>
                <li><strong>1</strong> Car</li>
                <li><strong>150</strong> Locations</li>
            </ul>
        </div>
        
        <div class="pricing-table-footer">
            <h2><sup>Rs</sup>500</h2>
            <p>per month</p>
            <%= link_to "Sign up","#", class: "btn btn-primary btn-lg" %>
        </div>
    </div>
    
    <div class="pricing-table">
        <div class="pricing-table-header">
            <h1>Pro</h1>
        </div>
        
        <div class="pricing-table-content">
            <ul>
                <li><strong>30</strong> Days</li>
                <li><strong>3</strong> Car</li>
                <li><strong>300</strong> Locations</li>
            </ul>
        </div>
        
        <div class="pricing-table-footer">
            <h2><sup>Rs</sup>1000</h2>
            <p>per month</p>
            <%= link_to "Sign up","#", class: "btn btn-primary btn-lg" %>
        </div>
    </div>
</div>