@import url(http://fonts.googleapis.com/css?family=Lato:400,700);

$body-bg:                                                   white;
$font-family-sans-serif:                'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$navbar-height:                                        45px;
$navbar-default-bg:                          white;
$navbar-default-brand-color:      #2ecc71;
$btn-default-color:#2ecc71 ;
$jumbotron-bg: #ecf0f1;
$brand-primary: #2ecc71;

@import "bootstrap-sprockets";
@import "bootstrap";

.center {
     text-align: center;
}

.navbar-brand {
     font-weight: bold;
}

.checkbox input[type="checkbox"] {
  margin-left: 0;
}
